h1 {
}
h1 {
  text-decoration: underline;
}
body {
  background-image: url(Fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 217px;
}
.titulo p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150px;
  color: aliceblue;
}

.marco img {
  height: 720px;
  width: 1400px;
}
